<html>
	<head>
		 <link rel="stylesheet" type="text/css" href="style.css">
     <script type="text/javascript" src="/js/angular.js"></script>
     <script type="text/javascript" src="/js/app_frontend.js"></script>
	</head>
	<body ng-app="projekt">
  <div ng-controller="RegisterController as register">
    <p>email <input ng-model="email">equals {{register.email}}</p>
    <p>pass <input ng-model="pass">equals {{register.pass}}</p>
    <button ng-click="register.send(email, pass)" type="button">Send</button>
  </div>
	</body>
</html>
